
element {
    --my-bg-color: #ffffff
}

p, h1, h2, ul {
    font-family: "Segoe UI",Arial,sans-serif;
}

p, ul {
    font-size: 15px;
}

ul {
    list-style: square inside url("../img/puce.png");
}
li {
    margin-top: 5px;
}

div.hidePane {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: fe84cd;
    z-index: 1000;
}
div.cubePane {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background-color: --my-bg-color;
}
div.topPane {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 100%;
    height: 200px;
    max-width: 880px;
    overflow: hidden;
    background-color: #ffab01;
    margin: 0;
}
div.leftPane {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #55bbf4;
}
div.mainPane {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 100%;
    max-width: 880px;
    overflow: hidden;
//    height: 100%;
    background-color: --my-bg-color;
    margin: 0;
    //    margin-left: 15px;
//    padding-left: 15px;
}

p.leftPaneMenu0 {
    color: white;
    font-weight: normal;
    padding-left: 10px;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
}
p.leftPaneMenu1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    color: white;
    margin: 2px;
    padding-left: 18px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-style: italic;
    cursor: pointer;
}
p.leftPaneMenuHighlight0 {
    background-color: #fe84cd;
//    font-weight: bold;
//    text-decoration: underline;
}
p.leftPaneMenuHighlight1 {
    background-color: #fe452c;
//    font-weight: bold;
//    text-decoration: underline;
}

p.leftPaneMenu0:hover {
    color: #b1eb00;
//    color: #fe452c;
}

/* p.leftPaneMenuHighlight1:hover { */
/* } */

p.leftPaneMenu1:hover {
    color: #b1eb00;
//    color: #fe452c;
}

p {
    padding-left: 18px;
}

h2 {
    padding-left: 18px;
    font-weight: normal;
}

h1 {
    padding-left: 18px;
    font-weight: normal;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1.title {
    background-color: #fe452c;
    color: white;
}

a {
    color: #fe452c;
}
